<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobsdigger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainJobsScreen"
            android:label="@string/title_activity_main_jobs_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".CustomerDetailsScreen" />
        <activity android:name=".SeeCustomersScreen" />
        <activity android:name=".AddJobScreen" />
        <activity android:name=".ManageJobScreen" />
        <activity android:name=".JobDetailsAndApplyJobScreen" />
        <activity android:name=".JobslistScreen" />
        <activity android:name=".CustomerSignUpScreen" />
        <activity android:name=".CompanySignUpScreen" />
        <activity android:name=".SignInScreen"></activity>
        <activity android:name=".welcomescreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>